body {
    background: url(images.jpg/mad_scientist_lab_by_mordennight_d4xp9dv-fullview.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

h1 {
    text-align: center;
    font-family: "Griffy";
    color: white;
    font-size: 80px;
    text-shadow: 4px 4px 0 #62b471;
   letter-spacing: 0.1em;
}

  .maintable, tr, td {
    display: flex;
    justify-content: center;
    padding: 3.5px;
}

.maintable {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-size: 10%;
}

td {
    width: 5rem;
    height: 70px;
    background-color:white;
    border: 2px solid black;
}

#hint1, #hint2, #hint3, #hint4,  #hint5, #hint6 {
   border-collapse: separate;
  border-spacing: auto;
  margin: 0 -20px 0 20px;
} 

.solution {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.madsci {
    display: flex;
    padding: -9px;
    width: 48em;
    justify-content: flex-end;
}

img {
    height: 200px;
    padding: 0px;
}

#madscitalk {
    color: white;
    width: 70%;
    font-family: "Griffy";
}

 p {
    text-align: right;
    font-size: 2em;
    text-shadow: 4px 4px 0 #62b471;
    letter-spacing: 0.1em;
}

.potions {
    z-index: 1;
    width: 80px;
    height: 50px;
    position: relative;
}

.button-container {
    text-align: center;
    padding: 3%;
}

#reset {
    width: 150px;
    height: 50px;
    background-color: #62b471;
    border: 7px solid whitesmoke;
    border-radius: 8px;
    font-family: "griffy";
}