body {
    background-color: #dad2e9;
}

h1 {
    text-align: center;
    font-family: "Griffy";
}

h2 {
    text-align: center;
    line-height: 5%;
    font-family: "Griffy";
}
  .maintable, tr, td {
    display: flex;
    justify-content: center;
   
}

.maintable {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-size: 10%;
}

td {
    width: 5rem;
    height: 70px;
    background-color:whitesmoke;
    border: 2px solid black;
}

#hint1, #hint2, #hint3, #hint4,  #hint5, #hint6 {
   border-collapse: separate;
  border-spacing: auto;
  margin: 0 -20px 0 20px;

} 



.solution{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.potions {
    display: flex;
    justify-content: center;
    padding: 10px;

}

.button-container {
    text-align: center;
}